*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Netflix','Helvetica Neue',Helvetica,Arial,sans-serif;
}  

                                                    /* CSS-HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
}

.box-logo {
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

#logonetflix {
    width: 100px;    
}

.header-title {
    text-decoration: none;
    color: white;
    border-left: 1px solid white;
    padding-left: 5px;
}

.header-title:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-right: 100px;
}

#join-in {
    text-decoration: none;
    background: transparent;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 3px;
    width: 120px;
    height: 35px;
    color: white;
    font-size: 0.8em;
}

#join-in:hover {
    background-color: white;
    color: rgb(27, 22, 22);
}

#sign-in {
    text-decoration: none;
    background-color: red;
    padding: 11px 36px;
    border-radius: 3px;
    width: 120px;
    height: 35px;
    color: white;
    font-size: 0.8em;

}

#sign-in:hover {
    background-color: rgb(199, 3, 3);
}


                                                   /* CSS-MAIN */

main {
    display: flex;
    padding: 30px 100px;
}

.left-section {
    flex-basis: 65%;
}

.right-section {
    padding: 130px 0 0 100px;
    flex-basis: 35%;
}

.container-1 h1 {
    padding-bottom: 35px;
    font-size: 2.5em;
}

.back-home {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.back-home .arrow:hover {
    transform: translateX(-5px);
    transition: 0.5s;
}

.arrow:hover ~ .link-back {
    text-decoration: underline;
}
                                                        /* ----------------FRECCETTA------------------ */
.link-back:hover ~ * .arrow {
    transform: translateX(-5px);
    transition: 0.5s;
}

h2 {
    padding-bottom: 35px;
}

p {
    padding: 15px 0;
}

blockquote {
    padding: 10px;
    font-size: 0.9rem;
    border-left: 4px solid rgb(182, 182, 182);
    margin-left: 5px;
}

ol + p {
    margin-bottom: 60px;
}

.img {
    width: 100%;
}

hr {
    margin: 40px 0;
    box-shadow: none;
}

.right-section a {
    text-decoration: none;
    color: rgb(27, 22, 22);
}

.right-section a:hover {
    text-decoration: underline;
    color: red;
}

.right-section li {
    padding: 10px;
}

.left-section a {
    color: red;
    text-decoration: none;
}

.left-section a:hover {
    text-decoration: underline;
}

.left-section li {
    padding: 9px;
}

ol {
    padding-left: 20px;
}

.fb-div {
    padding-bottom: 10px;
}

.fb-button {
    background-color: white;
    color: rgb(218, 0, 0);
    border: 1px solid rgb(218, 0, 0);
    padding: 12px 20px;
    width: 100px;
    display: inline;
    border-radius: 2px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.1em;
}

.fb-button:hover {
    background-color: red;
    color: white;
}

                                                    /* CSS - FOOTER */

.contact-us {
    background-color: rgb(211, 211, 211);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
}

.contact-us span {
    padding-left: 100px;
    font-size: 1.5em;
    font-weight: bold;
}

.contact-us .footer-button {
    padding-right: 100px;
    font-weight: bold;
}

.footer-button a {
    color: rgb(87, 87, 87);
    padding: 15px 20px;
    border: 1px solid rgb(31, 31, 31);
    background-color: white;
    text-decoration: none;
    margin: 10px;
}

.footer-button a:hover {
    background-color: rgb(228, 228, 228);
}

.last-div {
    height: 150px;
    width: 100%;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.last-div select {
    color: rgb(161, 161, 161);
    background-color: rgb(31, 31, 31);
    margin-left: 100px;
    padding: 10px;
    font-size: 1.2em;
}

.last-div select:hover {
    background-color: rgb(161, 161, 161);
    color: white;
}

.last-div ul {
    padding-right: 50px;
}

.last-div li {
    display: inline;
    padding: 10px;
}

.last-div a {
    text-decoration: none;
    color: rgb(161, 161, 161);
    font-size: 0.9em;
}

.last-div a:hover {
    text-decoration: underline;
    color: rgb(236, 236, 236);
}

@media screen and (max-width: 900px) {

    .box-logo {
        margin-left: 10px;
    }

    nav {
        margin-right: 8px;
    }

    main {
        padding: 30px 10px;
    }
    
    .right-section {
        display: none;
    }

    .left-section {
        flex-basis: 100%;
    }

    .container-1 h1 {
        font-size: 2em;
    }

    .fb-div span {
        display: block;
        padding: 20px 20px;
    }

    .contact-us {
        flex-direction: column;
        height: 250px;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 0 20px;
    }

    .contact-us span {
        padding-left: 0;
    }

    .contact-us .footer-button {
        display: flex;
        gap: 10px;
    }

    .footer-button a {
        text-align: center;
        width: 45vw;
        margin: auto;
    }

    .last-div li {
        display: block;
        padding: 10px;
    }

    .last-div {
        height: 250px;
    }

    .last-div select {
        margin-left: 10px;
    }
}

@media screen and (max-width: 600px) {

    .box-logo {
        flex-direction: column;
        margin: 0px 0px 10px 10px;
        justify-content: space-around;
        align-items: flex-start;
        height: 100px;
    }

    .header-title {
        border: none;
        font-weight: bold;
    }

    .contact-us .footer-button {
        display: flex;
        flex-direction: column;
       
    }

    .footer-button a {
        text-align: center;
        width: 90vw;
        padding: 15px;
    }

    .last-div {
        height: 300px;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding-left: 10px;
    }

}

@media screen and (max-width: 400px) {
    
    nav {
        flex-direction: column;
    }
}
