:root {
    --colore-bianco: #fff;
    --colore-grigio-input: #8c8c8c;
    --colore-bordo-button: #333;
    --colore-sfondo-button: #f40612;
    --colore-bordi-row: #222;
    --colore-back-box: rgb(0,0,0);
    --colore-testo-foot: #757575;
    --colore-back-ans: #303030;
}

@font-face {
    font-family: "Netflix";
    src: url("/assets/fonts/NetflixSans.ttf");
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Netflix , Arial, Helvetica, sans-serif;
    color: var(--colore-bianco);
}




body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr;
    gap: 0 0;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

/* Header in grid e flexbox */

header {
    grid-area: header;
    background: radial-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.9)), url("/assets/img/Background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 776px;
    border-bottom: 8px solid var(--colore-bordi-row)
}




/* Creazione nav bar */

nav {
    display: flex;
    justify-content: space-between;
    padding: 2.5vh 2.7vw;
}

.logo img {
    max-width: 166px;
}

#lang {
    padding: 8px 10px;
    border: 1px solid #aaa;
    background: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    font-style: inherit;
    font-size: 0.875rem;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 1.5vw;
}

.menu a {
    background-color: var(--colore-sfondo-button);
    margin: 0;
    padding: 7px 17px;
    color: rgb(255, 255, 255);
    font-style: inherit;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    display: inline-block;
    flex: none;
}

/* Aggiunta elementi alla section dell'header */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h1 {
    font-size: 4rem;
    text-align: center;
    margin: 0;
    margin-top: 12.5vh;
}

section h2 {
    font-weight: 400;
    text-align: center;
}

section p {
    font-size: 1.2rem;
    text-align: center;
}

section form {
    text-align: center;
    display: flex;
    justify-content: baseline;
}

[type="email"] {
    width: 25vw;
    height: 68px;
    padding-left: 10px;
    margin: 0;
    border: none;
    font-size: 16px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--colore-grigio-input);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

form button {
    height: 70px;
    margin: 0;
    padding: 0 30px;
    border: 0;
    border-left: 1px solid var(--colore-bordo-button);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: var(--colore-bianco);
    background: var(--colore-sfondo-button);
    font-size: 1.875rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

form button:hover {
    cursor: pointer;
}

/* Creazione corpo centrale della pagina (main) */


main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--colore-back-box);
}

.box {
    display: grid;
    padding: 50px 0px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". contenuto .";
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 8px solid var(--colore-bordi-row);
}

.box-cent {
    grid-area: contenuto;
    display: flex;
    flex: 1;
    gap: 2vw;
}

.box-cent div {
    flex: 1;
}

.box-text {
    display: flex;
    flex-direction: column;
}

.box-text h3 {
    text-align: left;
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: .5rem;
}

.box-text p {
    text-align: left;
    font-size: 1.625rem;
    font-weight: 400;
}

.box div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#position-rel {
    position: relative;
}


#position-rel img  {
    position: relative;
    width: 530px;
    z-index: 2;
}

#position-rel video {
    position: absolute;
    width: 387px;
    top: 82px;
}

#position-rel-2 {
    position: relative;
}

#position-rel-2 img {
    position: relative;
    z-index: 2;
}

#position-rel-2 video {
    position: absolute;
    width: 390px;
    bottom: 210px;
    right: 130px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bambini {
    width: 500px;
}

/* Sezione domande frequenti */

.box-ans {
    display: grid;
    padding: 50px 0px;
    gap: 15vw;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". contenut .";
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 8px solid var(--colore-bordi-row);
}

.box-cent-ans {
    grid-area: contenut;
    display: flex;
    flex-direction: column;
}

.box-cent-ans h3 {
    text-align: center;
    font-size: 3.125rem;
    font-weight: 400;
}


.container-ans {
    display: flex;
    flex-direction: column;
}

.check-ans {
    display: none;
}

.button-ans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--colore-back-ans);
    margin-bottom: 1px;
    margin-top: 5px;
}

#lab-1::before {
    content: "Cos'è Netflix?";
}

#lab-2::before {
    content: "Quanto costa Netflix?";
}

#lab-3::before {
    content: "Dove posso guardare Netflix?";
}

#lab-4::before {
    content: "Come posso disdire?";
}

#lab-5::before {
    content: "Cosa posso guardare su Netflix?";
}

#lab-6::before {
    content: "Netflix è adatto ai bambini?";
}

.title-ans {
    font-size: 1.625rem;
    width: 90%;
    box-sizing: border-box;
}

.lab-ans {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 0.8em 1.5vw 0.8em 1.5vw;
}


.img-ans {
    background: url("/assets/img/x-ans.svg");
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
    width: 10%;
    height: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.para-ans {
    max-height: 0;
    overflow: hidden;
    background: var(--colore-back-ans);
    transition: max-height 0.15s ease-out, padding 0.15s ease-out;
    -webkit-transition: max-height 0.15s ease-out, padding 0.15s ease-out;
    -moz-transition: max-height 0.15s ease-out, padding 0.15s ease-out;
    -ms-transition: max-height 0.15s ease-out, padding 0.15s ease-out;
    -o-transition: max-height 0.15s ease-out, padding 0.15s ease-out;
}

.para-ans p {
    text-align: left;
    font-size: 1.625rem;
    font-weight: 400;
}


#button-1:checked ~ #contenuto-1,
#button-2:checked ~ #contenuto-2,
#button-3:checked ~ #contenuto-3,
#button-4:checked ~ #contenuto-4,
#button-5:checked ~ #contenuto-5,
#button-6:checked ~ #contenuto-6 {
    max-height: 500px;
    padding: 0.8em 1.5vw 0.8em 1.5vw;
    display: flex;
    flex-direction: left;
    flex-direction: column;
    transition: max-height 0.25s ease-in, padding 0.18s ease-in;
    -webkit-transition: max-height 0.25s ease-in, padding 0.18s ease-in;
    -moz-transition: max-height 0.25s ease-in, padding 0.18s ease-in;
    -ms-transition: max-height 0.25s ease-in, padding 0.18s ease-in;
    -o-transition: max-height 0.25s ease-in, padding 0.18s ease-in;
}

#button-1:checked ~ * #img-rot-ans-1,
#button-2:checked ~ * #img-rot-ans-2,
#button-3:checked ~ * #img-rot-ans-3,
#button-4:checked ~ * #img-rot-ans-4,
#button-5:checked ~ * #img-rot-ans-5,
#button-6:checked ~ * #img-rot-ans-6 {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.input-sez-ans {
    display: flex;
    justify-content: center;
    align-items: center;
}

#p-ans {
    margin-top: 5vh;
    text-align: center;
    font-size: 1.1em;
}


/* costruzione degli elementi del footer */

footer {
    grid-area: footer;
    display: grid;
    background: var(--colore-back-box);
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-rows: 1fr;
    grid-template-areas:
    ". foot .";
}

.box-foot {
    padding: 50px 0px;
    grid-area: foot;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.foot-container{
    padding-top: 70px;
}

.col-foot {
    display: inline-block;
}

.col-foot ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-right: 3vw;
    list-style-type: none;
}

.col-foot ul li {
    margin-top: 1vh;
}

.col-foot ul li a {
    text-decoration: none;
    color: var(--colore-testo-foot);
    font-size: .9rem;
}

.p-foot {
    display: flex;
    justify-content: left;
    color: var(--colore-testo-foot);
}

#lang-foot {
    padding: 8px 10px;
    border: 1px solid #aaa;
    background: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    font-style: inherit;
    font-size: 0.875rem;
    font-family: Arial, Helvetica, sans-serif;
}

#netflix-italia p{
    font-size: 13px;
    margin-top: 24px;
}

#domande p{
    font-size: .9rem;
}

@media screen and (max-width: 900px) {


                    /*media query header,main, footer*/
    html {
        font-size: 10px;
    }
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box-cent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box-text p {
        text-align: center;
        padding: 15px;
    }

    .box-text h3{
        text-align: center;
        padding: 15px;
    }

    form {
        width: 95%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    [type="email"] {
        width: 95%;
    }

    form button {
        margin: 15px;
        width: 20vw;
        font-size: 3vw;
    }


    /*Media query sezione domande frequenti*/


    .box-ans {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .box-cent-ans {
        padding: 20px;
    }
}

@media screen and (max-width: 700px){
    #position-rel img {
        width: 250px;
    }

    #position-rel video {
        width: 180px;
        top: 40px;
    }

    .cell img {
        width: 200px;
    }

    #position-rel-2 img {
        width: 250px;
    }

    #position-rel-2 video {
        width: 160px;
        top: 20px;
        right: 45px;
    }

    .bambini  {
        width: 250px;
    }

    form button {
        width: 25vw;
        font-size: 3.5vw;
        height: 7vh;
    }

    [type="email"] {
        height: 7vh;
    }
}

 @media screen and (max-width: 450px) {
    form button {
        padding: 15px;
    }
}
