*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Netflix','Helvetica Neue',Helvetica,Arial,sans-serif;
}  

/* CSS-HEADER */

header {
    display: flex;
    align-items: center;
    color: white;
    background-color: black;
}

#logonetflix {
    width: 100px;    
}

#link-logo {
    flex-basis: 7%;
    margin-left: 100px;
}

.header-title {
    flex-basis: 69%;
    text-decoration: none;
    color: white;
}

.header-title:hover {
    text-decoration: underline;
}

nav {
    flex-basis: 19%;
    display: flex;
    gap: 10px;
    justify-content: center;
}

#join-in {
    text-decoration: none;
    background: transparent;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 3px;
    width: 120px;
    height: 35px;
    color: white;
    font-size: 0.8em;
}

#join-in:hover {
    background-color: white;
    color: rgb(27, 22, 22);
}

#sign-in {
    text-decoration: none;
    background-color: red;
    padding: 11px 36px;
    border-radius: 3px;
    width: 120px;
    height: 35px;
    color: white;
    font-size: 0.8em;

}

#sign-in:hover {
    background-color: rgb(199, 3, 3);
}


/* CSS-MAIN */

main {
    display: flex;
    padding: 30px 100px;
}

.left-section {
    flex-basis: 65%;
}

.right-section {
    padding: 130px 0 0 100px;
    flex-basis: 35%;
}

#main-title {
    padding-bottom: 35px;
    font-size: 2.5em;
}

h2 {
    padding-bottom: 35px;
}

p {
    padding: 15px 0;
}

blockquote {
    padding: 10px;
}

.img {
    width: 100%;
}

hr {
    margin: 40px 0;
    box-shadow: none;
}

.right-section a {
    text-decoration: none;
    color: rgb(27, 22, 22);
}

.right-section a:hover {
    text-decoration: underline;
    color: red;
}

.right-section li {
    padding: 10px;
}

.left-section a {
    color: red;
    text-decoration: none;
}

.left-section a:hover {
    text-decoration: underline;
}

.left-section li {
    padding: 9px;
}

ol {
    padding-left: 20px;
}

.fb-div {
    padding-top: 20px;
}

.fb-button {
    background-color: white;
    color: red;
    border: 1px solid red;
    padding: 10px 15px;
    width: 70px;
    display: inline;
    border-radius: 2px;
}

.fb-button:hover {
    background-color: red;
    color: white;
}

