*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Netflix','Helvetica Neue',Helvetica,Arial,sans-serif;
}  

/* CSS-HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
}

#logonetflix {
    width: 100px;    
}

#link-logo {
    flex-basis: 7%;
    margin-left: 60px;
}

.header-title {
    flex-basis: 69%;
    text-decoration: none;
    color: white;
}

.header-title:hover {
    text-decoration: underline;
}

nav {
    flex-basis: 19%;
}

#join-in {
    text-decoration: none;
    background: transparent;
    border: 1px solid white;
    padding: 10px;
    border-radius: 3px;
    width: 120px;
    height: 35px;
    color: white;
}

#join-in:hover {
    background-color: white;
    color: rgb(27, 22, 22);
}

#sign-in {
    text-decoration: none;
    background-color: red;
    padding: 11px 36px;
    border-radius: 3px;
    width: 120px;
    height: 35px;
    color: white;
}

#sign-in:hover {
    background-color: rgb(199, 3, 3);
}


/* CSS-MAIN */

main {
    display: flex;
}

.left-section {
    width: 70vw;
    padding: 50px;
}

.right-section {
    padding-top: 200px;
    padding-left: 50px;
    width: 30vw;
}

#main-title {
    padding-bottom: 35px;
    font-size: 2.5em;
}

h2 {
    padding-bottom: 35px;
}

p {
    padding: 15px 0;
}

blockquote {
    padding: 10px;
}

.container-1, .container-2, .container-3, .container-4, .container-5 {
    padding-bottom: 30px;
}

.img {
    width: 63vw;
}

.right-section a {
    text-decoration: none;
    color: rgb(27, 22, 22);
}

.right-section a:hover {
    text-decoration: underline;
    color: red;
}

.right-section li {
    padding: 10px;
}

.left-section a {
    color: red;
    text-decoration: none;
}

.left-section a:hover {
    text-decoration: underline;
}

ol {
    padding-left: 20px;
}

.fb-div {
    padding-top: 20px;
}

.fb-button {
    background-color: white;
    color: red;
    border: 1px solid red;
    padding: 10px 15px;
    width: 70px;
    display: inline;
    border-radius: 2px;
}

.fb-button:hover {
    background-color: red;
    color: white;
}

