@font-face {
    font-family: 'Netflix';
    src: url(/resources/fonts/NetflixSans.ttf);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    float: left;
    font-family: 'Netflix','Helvetica Neue',Helvetica,Arial,sans-serif;
}

main {
    width: 100%;
    margin: 0;
    float: left;
    font-family: 'Netflix','Helvetica Neue',Helvetica,Arial,sans-serif;
}

/* css-top-main */

.topmain {
    width: 100%;
    height: 742.984px;
    margin: 0;
    background: radial-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.9)), url("/resources/img/Background.jpg");
    border-bottom: 8px solid #222;
    background-position: center;
    float: left;

}

nav {
    width: 100%;
    height: 100px;
    margin: 0;
    padding-top: 20px;
}

.nav-bar-center{
    width: 95%;
    height: 70px;
    margin: auto auto;
}

.button {
    background-color: red;
    margin: 0;
    padding: 7px 17px;
    color: rgb(255, 255, 255);
    font-style: inherit;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    float: right;
}

.logo {
    width: 85%;
    height: 80px;
    float: left;
    margin: 0;
}

.menu {
    width: 15%;
    height: 80px;
    float: left;
    margin: 0;
}

#lang {
    float: left;
    margin: 0;
    margin-left: 25%;
    padding: 8px 10px;
    border: 1px solid #aaa;
    background: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    font-style: inherit;
    font-size: 0.875rem;
}

.svg-logo {
    height: 45px;
    margin: 0;
    float: left;
    fill: #e50914;
}

.sect_cont-1 {
    width: 100%;
    height: calc(742.984px - 120px);
    float: left;
    margin: 0;
}

.center-section {
    width: 50%;
    height: auto;
    margin: 0 auto;
    color: white;
    text-align: center;
    padding-top: 90px;
}

.center-section h1 {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0;
}

.center-section h2 {
    font-size: 1.625rem;
    font-weight: lighter;
}

.center-section p {
    font-size: 1.2rem;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.input_1 {
    width: 75%;
    height: 70px;
    margin: 0 auto;
}

.email {
    height: 70px;
    width: 75%;
    margin: 0;
    border: none;
    float: left;
    padding-left: 10px;
    font-size: 16px;
}

.init-button {
    margin: 0;
    width: 20%;
    height: 72px;
    background: #f40612;
    font-family: 'Netflix','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.875rem;
    cursor: pointer;
    color: white;
    font-weight: lighter;
    border: 0;
    float: left;
}

/* css-mid-main */

.mid-container {
    width: 100%;
    float: left;
    margin: 0;
    border-bottom: 8px solid  #222;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.media-1 {
    float: left;
    margin: 0;
}

.media-2 {
    float: left;
    margin: 0;
}

.img-1 {
    position: absolute;
    float: left;
    z-index: 2;
}

.video-1 {
    position: relative;
    top: 100px;
    left: 75px;
}

.img-2 {
    position: absolute;
    float: left;
    z-index: 2;
    margin-top: 60px;
}

.video-2 {
    position: relative;
    width: 400px;
    left: 115px;
    top: 110px;
}


.text-container-1 {
    float: left;
    width: 50%;
    text-align: center;
    padding: 165px 0;

}

.text-container-1 h1 {
    font-size: 3.125rem;
}

.text-container-1 h2 {
    font-size: 1.625rem;
    font-weight: 400;
}



.text-container-2 {
    float: left;
    width: 50%;
    text-align: center;
    padding: 165px 0;
}

.text-container-2 h1 {
    font-size: 3.125rem;
    padding: 0 45px;
}

.text-container-2 h2 {
    font-size: 1.625rem;
    font-weight: 400;
    padding: 0 60px;
}

.media-container-1 {
    float: right;
    width: 50%;
}

.media-container-2 {
    float: left;
    width: 50%;
}

.cellulare {
    float: left;
    margin-left: 300px;
    margin-top: 165px;
}

.bambini {
    float: left;
    margin-left: 150px;
    margin-top: 50px;
}


.bot-form {
    width: 40%;
    margin: 0 auto;
}

/* sezione domande frequenti */

.bottom-main{
    width: 100%;
    float: left;
    font-size: 1.625rem;
    font-weight: 400;
    background-color: rgb(0, 0, 0) ;
    border-bottom: 8px solid #222;
}


#section-ans {
    width: 40%;
    margin: 0 auto;
    float: none;
    border: none;

}

.container-ans {
    width: 100%;
}

.button-ans {
    width: 100%;
    height: 25%;
    float: left;
    background-color: #303030;
    border-bottom: 1px solid  rgb(0, 0, 0);
}

.title-ans {
    width: 90%;
    float: left;
}

.check-ans  {
    display: none;
}

.lab-ans  {
    width: 100%;
}

#lab-1::before {
    width: 100%;
    text-align: left;
    content: "Cos'è Netflix?";
    float: left;
    padding: .8em 2.2em .8em 1.2em;
}

.img-ans {
    width: 10%;
    margin: 0;
    float: left;
}

.img-ans img {
    width: 50%;
    padding: .7em 0;
}

.para-ans {
    width: 100%;
    float: left;
    background-color: #303030;
}

.para-ans p {
    padding: 1.2em;
    margin: 0;
}


/* css-footer */

footer {
    width: 100%;
    margin: 0;
    float: left;
    font-family: 'Netflix','Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: rgb(0, 0, 0);
    color: #757575;
}

.col-foot {
    float: left;
    list-style-type: none;
    text-decoration: none;
}


.foot-container {
    width: 50%;
    margin: 0 auto;
}

.p-foot {
    float: left;
    width: 100%;
    padding-left: 40px;
}

.col-foot {
    float: left;

}

.col-foot ul li{
    list-style-type: none;
    margin: 10px 0;
}

.col-foot ul li a {
    text-decoration: none;
    color: #757575;
    font-size: 13px;
}

#lang-foot {
    float: left;
    margin: 0;
    margin-top: 10px;
    padding: 8px 10px;
    border: 1px solid #333;
    background: rgba(0, 0, 0, 0.5);
    color: #999;
    font-style: 'Netflix','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 0.875rem;
}

#domande {
    margin-top: 40px;
}

#netflix-italia {
    font-size: 13px;
}