html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    float: left;
}


.introduction {
    position: relative;
    width: 100%;
    height: 743px;
    z-index: 2;
    margin: 0;
    float: left;
}

.video-1 {
    position:relative;
    width: 100%;
    height: ;
    z-index: 1;
    margin: 0;
    float: left;
}

.container-1 {
    width: 100%;
    height: 743px;
    margin: 0;
    float: left;
}